<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title class="fw-bold text-light">
        ⚽ MINILIGA EXPRESS
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/teams" routerDirection="root">Equipos</ion-button>
        <ion-button routerLink="/standings" routerDirection="root">Tabla</ion-button>
        <ion-button routerLink="/matches" routerDirection="root">Partidos</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
