<nav class="d-flex align-items-center justify-content-between">
    <a class="navbar-brand">⚽ MiniLiga Express</a>
  
    <ul class="d-flex align-items-center mb-0">
      <li><a routerLink="/teams" routerLinkActive="active" class="nav-link">Equipos</a></li>
      <li><a routerLink="/standings" routerLinkActive="active" class="nav-link">Tabla</a></li>
      <li><a routerLink="/games" routerLinkActive="active" class="nav-link">Partidos</a></li>
    </ul>
  </nav>
  
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
  