<ion-content class="ion-padding">
    <div class="tabla-container">
      <h2 class="titulo">
        🏆🏆 TABLA DE POSICIONES 🏆🏆
      </h2>
  
      <table class="tabla-posiciones">
        <thead>
          <tr>
            <th>#</th>
            <th>EQUIPO</th>
            <th>J</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>GF</th>
            <th>GC</th>
            <th>PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tabla; let i = index" [class.top]="i === 0">
            <td>{{ i + 1 }}</td>
            <td>{{ t.team }}</td>
            <td>{{ t.played }}</td>
            <td>{{ t.wins }}</td>
            <td>{{ t.draws }}</td>
            <td>{{ t.losses }}</td>
            <td class="verde">{{ t.goals_for }}</td>
            <td class="rojo">{{ t.goals_against }}</td>
            <td class="fw-bold">{{ t.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
  